html {
  margin-left:2em;
}

body {
  margin: 5em auto 4em auto;
  position: relative;
  width: 760px;
}

a:not(:hover) {
  text-decoration: none;
}

svg {
  font: 10px sans-serif;
}
.bar rect {
  fill: steelblue;
}
.bar:hover rect {
  fill: brown;
}
.value {
  fill: white;
}
.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}
.y.axis path {
  stroke: black;
}

.axis path{
  stroke: none;
  fill: none;
}

.axis line{
  stroke: #000;
  fill: none;
}
